* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1683309563562-aa3cfde9ed10?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dG9kbyUyMGxpc3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}

.toto-text {
    font-size: 12px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
}

.todo-image {
    height: 30px;

}

.toto-list {
    width: 35vw;
    min-height: 70vh;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: url("https://images.unsplash.com/photo-1678986718987-76f0b9357e0f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fDNkfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
    background-repeat: no-repeat;
    background-size: 520px 500px;
    background-position: center;
    position: fixed;
}

.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    flex-direction: column;
}

.inp {
    padding: 15px 200px 15px 30px;
    border: none;
    outline: none;
    border-radius: 20%;
}

.inp::placeholder {
    font-size: 18px;

}

.btn {
    padding: 15px 45px 13px 45px;
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
    border-radius: 100px;
    border: none;
    position: absolute;
    right: 30px;
    font-size: medium;
    color: white;
    cursor: pointer;

}

.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
    background-color: gray;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
}

.error {
    color: red;
    margin-top: 5px;
}

.line-through {
    text-decoration: line-through;
    color: rgb(128, 123, 123);
}

.ri-close-large-line {
    color: white;
}

.ri-close-large-line:hover {
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    padding: 2px;
    border-radius: 50%;

}

h3 {
    color: white;
    word-break: break-all;
}

.sticky {
    position: sticky;
    top: 75px;
}

.main {
    height: 50vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;

}

@media screen and (max-width: 768px) {


    .inp {
        padding: 15px 90px 15px 30px;
        border: none;
        outline: none;
        border-radius: 20%;
    }

    .toto-list {
        width: 70vw;
        min-height: 90vh;
        background: linear-gradient(135deg, #89f7fe, #66a6ff);
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-image: url("https://images.unsplash.com/photo-1678986718987-76f0b9357e0f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fDNkfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
        background-repeat: no-repeat;
        background-size: 520px 600px;
        background-position: center;
    }

    .toto-text {
        margin-top: 130px;
    }

    .btn {
        padding: 15px 20px 13px 20px;
        background: linear-gradient(135deg, #a18cd1, #fbc2eb);
        border-radius: 100px;
        border: none;
        position: absolute;
        right: 0px;
        font-size: medium;
        color: white;
        cursor: pointer;

    }

    h3 {
        color: white;
        word-break: break-all;
    }

    .toto-list {
        overflow-y: scroll;
    }

    .toto-list {
        position: sticky;
        top: 0px;
    }
}